* {
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	margin: 0;
}

p {
    padding: 5px;
}

.top-row{
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.user-settings{
    height: 200px;
    width: 150px;
    background-color: white;
    top: 30px;
    right: 0px;
    position: relative;
}

.user-settings a{
    padding-left: 5px;
}

.user-picture{
    margin: 10px;
    display: flex;
    justify-content: center;
}


.meniu {
    margin: 0px;
}

.page-1{
    background-image: url(../images/winter2.jpg);
    width:100%;
    height:100vh;
    background-size:cover;
}

.page-1 div .collection {
    border: 0px;
}

.info-summary {
    opacity: 0.5;
}


.page-2 {
    height:200vh;
    background-color: rgb(156, 150, 248);
}

.control-panel{
    height:700px;
}

.settings-container{
    height:600px;
    padding: -10px;
}


.devices-container{
    height: 600px;
    padding: 0px;

}

.settings{
    height:600px;
    background-color: bisque;
    opacity: 0.9;
    margin-right: 20px;
}

.sensibo{
    height: 290px;
    width: 100%;
    opacity: 0.9;
    background-color: rgb(196, 236, 255);

}


.netatmo{
    height:290px;
    width: 100%;
    background-color: rgb(196, 210, 255);
    opacity: 0.9;
    margin-top: 20px;
}

.netatmo p{
    margin: 0;
}

